<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Titre de mon site</title>

        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="dist/images/apple-touch-icon.png" />
        <link rel="icon" type="image/png" href="dist/images/favicon.png" />
        
        <link rel="stylesheet" href="dist/css/main.css">
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
            <div class="container">
                <!-- Header -->
                <header class="mainHeader">
                    <h1 class="tl1 center">WELCOME TO BIJOOSTRAP !</h1>

                    <!-- Main menu -->
                    <nav role="navigation">
                        <ul class="mainMenu">
                            <li>
                                <a href="#">Item 1</a>
                            </li>
                            <li>
                                <a href="#">Item 2</a>
                            </li>
                            <li>
                                <a href="#">Item 3</a>
                            </li>
                            <li>
                                <a href="#">Item 4</a>
                            </li>
                        </ul>
                    </nav>
                </header>

                <!-- Page content -->
                <section class="mainContent">
                    <h2 class="tl1">Niveau de titre 1</h2>
                    <h2 class="tl2">Niveau de titre 2</h2>
                    <h2 class="tl3">Niveau de titre 3</h2>
                </section>

                <!-- Footer -->
                <footer class="mainFooter"></footer>
            </div>
        </div>

        <!-- Beware to erase it before prod -->
        <script src="//localhost:6325/livereload.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="dist/js/main.js"></script>
    </body>
</html>